<div *ngIf="!component">
    <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">
        <app-total-earned></app-total-earned>    
        <app-total-earned></app-total-earned>     
        <app-total-earned></app-total-earned>
    </div>
    <div class="grid md:grid-cols-1 sm:grid-cols-1 gap-1 mb-4">
        <app-list-products></app-list-products>
    </div>
</div>
<div *ngIf="component == 'productos'">
    <div class="grid grid-cols-1 mb-4">
        <app-list-products/>
    </div>
</div>


